PORT=3000
FIREBASE_API_KEY=AIzaSyAl-aLSlSHUdrZ4Rr4x23n3bu3QFZSYyB0
FIREBASE_AUTH_DOMAIN=azuolynas-film-fest.firebaseapp.com
FIREBASE_PROJECT_ID=azuolynas-film-fest
FIREBASE_STORAGE_BUCKET=azuolynas-film-fest.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=541713316291
FIREBASE_APP_ID=1:541713316291:web:51de85684512c9d7e6a576
FIREBASE_MEASUREMENT_ID=G-9Z050BPHJ5
